<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Radioapp </title>

    {% load static %}
    <!-- Estilos y fuentes -->
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Fredoka:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<nav class="nav-container">
    <div class="nav-bar">
        <div class="playbutton">
            <audio type="audio/mpeg">
                <source src="https://radiarte11.radio12345.com/">
            </audio>
        </div>
        <a href="{% url 'home' %}" class="nav-logo">RadioAPP LOGO</a>
    <ul class="nav-bar__menu">
        <li>
            <a>Portada</a>
        </li>
        <li>
            <a>Programación</a>
        </li>
        <li>
            <a>Blog</a>
        </li>
        <li>
            <a>Nosotros</a>
        </li>
    </ul>
</div>
</nav>

{% block headers %} {% endblock %}

    <H1>BASE HTML</H1>

{% block content %} {% endblock %}



</body>
</html>


<audio controls>
    <source src="http://162.210.192.98:5184" type="audio/mp3">
</audio>



        <!-- "http://162.210.192.98:5184"  -->